@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Breve';
    src: url('./assets/fonts/BreveSc-a1zR.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Lixdu';
    src: url('./assets/fonts/Lixdu-p7Pn1.ttf');
}

@font-face {
    font-family: 'ProPixie';
    src: url('./assets/fonts/ProcrastinatingPixie-WyVOO.ttf');
}

@keyframes progress {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@layer utilities {
    .clip-circle {
        clip-path: circle(50% at 50% 50%);
    }

    .clip-triangle {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .glass {
        background: rgba(255, 255, 255, 0.05);
        /* border-radius: 16px; */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px);
    }

    .text-gradient {
        background: #04A56A;
        background: linear-gradient(to left, #04A56A 0%, #FF00D6 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .progress {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform-origin: left center;
        background-color: lightgrey;
        animation: linear progress forwards;
        animation-timeline: scroll(root block);
    }

    .hue-bg {
        background: #8A2387;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F27121, #E94057, #8A2387);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .hue-txt {
        color: linear-gradient(to right, #F27121, #E94057, #8A2387)
    }

    .gradient_2 {
        background-color: #00DBDE;
        background-image: linear-gradient(27deg, #00DBDE 0%, #FC00FF 100%);

    }

    .hex {
        grid-area: 1/1;
        width: var(--s);
        aspect-ratio: 0.866;
        object-fit: cover;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
        transform: translate(var(--_x, 0), var(--_y, 0)) scale(var(--_t, 1));
        cursor: pointer;
        filter: grayscale(80%);
        transition: .2s linear;
        background-color: #27272a;
    }

    .hex:hover {
        filter: grayscale(0);
        z-index: 1;
        --_t: 1.2;
    }
}